@use "../util/index2" as *;

//Add Task Form

.overlay {
  position: relative;
  background-color: red;
  min-height: 100vh;
  .add-task-board {
    width: rem(480);
    height: rem(675);
    position: absolute;
    background-color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: rem(32);
    display: flex;
    flex-direction: column;
    gap: rem(24);
    h1 {
      font-weight: 700;
      font-size: 18px;
      line-height: 23px;
      color: #000112;
      margin-bottom: 0;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: rem(24);
      > div {
        display: flex;
        flex-direction: column;
        gap: rem(8);
        > label {
          font-weight: 700;
          font-size: 12px;
          line-height: 15px;
          color: #828fa3;
        }
        input {
          border: 1px solid rgba(130, 143, 163, 0.25);
          border-radius: 4px;
        }
      }
      .f-tit {
        input {
          height: rem(40);
        }
      }
      .f-des {
        input {
          min-height: rem(112);
        }
      }
      .f-sub {
        > div {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 16px;
          input {
            flex: 1;
            height: rem(40);
            margin-bottom: rem(4);
          }
        }
      }
    }
  }
}
