@use "./sass/globals/index";
@use "./sass/layout/container";
@use "./sass/layout/navbar";
@use "./sass/layout/dropdown";
@use "./sass/layout/toggle";
@use "./sass/layout/sidenav";
@use "./sass/layout/task-form";
@use "./sass/layout/deletion";
@use "./sass/layout/boardTasks";

.transition {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: rgba(99, 95, 199, 0.1);
}

::-webkit-scrollbar-thumb {
  background: #635fc7;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a8a4ff;
}
