@charset "UTF-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
}

p {
  margin-top: 0%;
  margin-bottom: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

:root {
  --primary-color: #635fc7;
  --secondary-color: #a8a4ff;
  --font-color: #000112;
  --font-color-details: #828fa3;
  --bg-color: #e4ebfa;
  --bg-card: white;
  --sub: #f4f7fd;
  --button: rgba(99, 95, 199, 0.1);
  --dropdown: #ffffff;
  --linargradient: linear-gradient(180deg, #e9effa 0%, rgba(233, 239, 250, 0.5) 100%);
}

[data-theme=dark] {
  --primary-color: #635fc7;
  --secondary-color: #a8a4ff;
  --font-color: #ffffff;
  --font-color-details: #828fa3;
  --bg-color: #20212c;
  --bg-card: #2b2c37;
  --sub: #20212c;
  --button: #ffffff;
  --dropdown: #20212c;
  --linargradient: linear-gradient(180deg, rgba(43, 44, 55, 0.25) 0%, rgba(43, 44, 55, 0.125) 100%);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: var(--bg-color);
  min-height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

.container {
  width: calc(100% - 32px);
  margin: auto;
}

header {
  background-color: var(--bg-card);
}

nav {
  padding: 1.25rem 0;
}
@media (min-width: 40em) {
  nav {
    display: flex;
    align-items: center;
    padding: 0;
  }
}
nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .right {
  display: flex;
  align-items: center;
}
nav .right .add-task {
  width: 3rem;
  height: 2rem;
  background-color: var(--primary-color);
  border-radius: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}
@media (min-width: 40em) {
  nav .right .add-task {
    display: none;
  }
}
nav .right .ellipsis {
  cursor: pointer;
  position: relative;
}
nav .right .ellipsis-options {
  z-index: 9;
  position: absolute;
  right: 0;
  top: 58px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 12rem;
  box-shadow: 0px 10px 20px rgba(54, 78, 126, 0.25);
  border-radius: 8px;
  background-color: var(--bg-card);
  transition: all 0.2s ease-in-out;
}
nav .right .ellipsis-options.hide {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-20px);
}
nav .right .ellipsis-options.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
nav .right .ellipsis-options > div {
  font-weight: 500;
  font-size: 13px;
  line-height: 23px;
}
nav .right .ellipsis-options > div:first-child {
  color: var(--font-color-details);
}
nav .right .ellipsis-options > div:last-child {
  color: #ea5555;
}
nav .right .add-task-larger {
  width: 10.25rem;
  height: 3rem;
  border-radius: 1.5rem;
  color: white;
  font-weight: 700;
  font-size: 15px;
  line-height: 19px;
  background-color: #635fc7;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
nav .right .add-task-larger:hover {
  background-color: var(--secondary-color);
}
@media (min-width: 40em) {
  nav .right .add-task-larger {
    margin-right: 1.5rem;
  }
}
@media (max-width: 39.996875em) {
  nav .right .add-task-larger {
    display: none;
  }
}
nav .dropdown__name {
  color: var(--font-color);
}
nav .left {
  display: flex;
  align-items: center;
}
nav .left .logo {
  height: 1.5625rem;
}
@media (min-width: 40em) {
  nav .left .logo {
    display: none;
  }
}
@media (min-width: 40em) {
  nav .left .logo picture {
    align-self: center;
  }
}
nav .left .dropdown {
  margin-left: 1rem;
}
@media (min-width: 40em) {
  nav .left .dropdown {
    display: none;
  }
}
nav .left .dropdown .rot svg {
  transform: rotate(180deg);
}
nav .left .dropdown span svg {
  margin-left: 0.5rem;
  transition: transform 150ms ease-in-out;
}
nav .left__larger {
  font-weight: 700;
  font-size: 1.25rem;
  margin-left: 1rem;
  color: var(--font-color);
}
@media (max-width: 39.996875em) {
  nav .left__larger {
    display: none;
  }
}
nav .logo-larger {
  padding: 2.1875rem 2.029375rem 2.29875rem 0.5rem;
  position: relative;
}
@media (max-width: 39.996875em) {
  nav .logo-larger {
    display: none;
  }
}
nav .logo-larger.logo-screen {
  padding-right: 7.716875rem;
}
@media (max-width: 56.246875em) {
  nav .logo-larger.logo-screen {
    padding-right: 5.279375rem;
  }
}
nav .logo-larger::after {
  content: "";
  border: 1px solid var(--bg-color);
  border-width: 0 1px 0 0;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}

.side-toggle {
  position: absolute;
  width: 56px;
  height: 48px;
  left: 0px;
  bottom: 32px;
  background-color: #635fc7;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 6.25rem 6.25rem 0;
  z-index: 10;
  cursor: pointer;
}
.side-toggle svg {
  fill: white;
}
.side-toggle:hover {
  background-color: var(--secondary-color);
}
@media (max-width: 39.996875em) {
  .side-toggle {
    display: none;
  }
}

.dropdown__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
}
.dropdown__options {
  z-index: 12;
  top: calc(2.875rem + 1.875rem);
  position: absolute;
  background-color: var(--bg-card);
  border-radius: 0.5rem;
  width: 16.5rem;
  height: 20.125rem;
  margin-inline: auto;
  color: #979797;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
  box-shadow: 0px 10px 20px rgba(54, 78, 126, 0.25);
  visibility: hidden;
}
.dropdown__options.open {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  visibility: visible;
}
.dropdown__options__boards {
  padding: 1rem 1.5rem 0 0;
}
.dropdown__options h2 {
  font-size: 0.75rem;
  font-weight: 700;
  color: var(--font-color-details);
  letter-spacing: 2.4px;
  padding: 0 0 0 1.5rem;
  margin-bottom: 0;
}
.dropdown__options ul {
  padding: unset;
  margin-top: 19px;
  margin-bottom: 0;
}
.dropdown__options ul .active {
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  background-color: var(--primary-color);
  color: white;
}
.dropdown__options ul .active svg {
  fill: white;
}
.dropdown__options ul li {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0.875rem 0 0.9375rem 1rem;
}
.dropdown__options ul li svg {
  pointer-events: none;
  fill: #979797;
}
.dropdown__options ul li div {
  pointer-events: none;
  margin-left: 1rem;
}
.dropdown__create {
  display: flex;
  padding: 0.875rem 0 0.9375rem 1rem;
  cursor: pointer;
  fill: white;
}
.dropdown__create div {
  margin-left: 1rem;
  color: var(--primary-color);
  font-weight: 700;
  font-size: 15px;
}
.dropdown__create svg {
  width: 16px;
  height: 16px;
  fill: var(--primary-color);
}

.content {
  display: flex;
  width: 100%;
  overflow: auto;
}
.content .main-content {
  width: 100vw;
  transform: translateX(300px);
}
@media (max-width: 56.246875em) {
  .content .main-content {
    transform: translateX(260px);
  }
}
@media (max-width: 43.746875em) {
  .content .main-content {
    transform: translateX(0px);
  }
}
.content .main-content.content-screen {
  transform: translateX(0);
}

.dropdown__switch {
  display: flex;
  margin: 1rem auto;
  padding: 0.875rem 3.5625rem;
  justify-content: space-between;
  background-color: var(--sub);
  border-radius: 0.375rem;
  width: 14.6875rem;
  height: 3rem;
}
.dropdown__switch .toggle input[type=checkbox] {
  display: none;
}
.dropdown__switch .toggle input[type=checkbox]:checked ~ label::after {
  transform: translateX(20px);
}
.dropdown__switch .toggle label {
  background-color: var(--primary-color);
  border-radius: 12px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: all ease-in-out 0.3s;
  width: 40px;
  height: 20px;
}
.dropdown__switch .toggle label::after {
  content: " ";
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  left: 3px;
  top: 3px;
  transition: all ease-in-out 0.3s;
  width: 14px;
  height: 14px;
}
.dropdown__switch .light-icon svg,
.dropdown__switch .dark-icon svg {
  fill: #979797;
}

.sidenav {
  z-index: 1;
  position: absolute;
  width: 18.75rem;
  height: calc(100vh - 6.329375rem);
  background-color: var(--bg-card);
}
@media (max-width: 39.996875em) {
  .sidenav {
    display: none;
  }
}
@media (max-width: 56.246875em) {
  .sidenav {
    width: 16.25rem;
  }
}
.sidenav__boards {
  padding: 1rem 1.5rem 0 0;
}
@media (max-width: 56.246875em) {
  .sidenav__boards {
    padding: 0.9375rem 1.25rem 0 0;
  }
}
.sidenav__boards h2 {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2.4px;
  padding-left: 2rem;
  color: var(--font-color-details);
}
.sidenav__boards ul {
  padding: unset;
  margin-top: 19px;
  margin-bottom: 0;
}
.sidenav__boards ul .active {
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  background-color: var(--primary-color);
  color: white;
}
.sidenav__boards ul .active svg {
  fill: white;
}
.sidenav__boards ul li {
  cursor: pointer;
  list-style: none;
  display: flex;
  align-items: center;
  color: var(--font-color);
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  padding: 0.875rem 0 0.9375rem 2rem;
}
.sidenav__boards ul li:hover:not(.active) {
  color: var(--primary-color);
  background-color: var(--button);
}
.sidenav__boards ul li:hover:not(.active) svg {
  fill: var(--primary-color);
}
@media (max-width: 56.246875em) {
  .sidenav__boards ul li {
    padding: 0.875rem 0 0.9375rem 1.5rem;
  }
}
.sidenav__boards ul li svg {
  pointer-events: none;
  fill: #979797;
}
.sidenav__boards ul li div {
  pointer-events: none;
  margin-left: 1rem;
}
.sidenav__boards__create {
  display: flex;
  padding: 0.875rem 0 0.9375rem 2rem;
  cursor: pointer;
  fill: white;
}
@media (max-width: 56.246875em) {
  .sidenav__boards__create {
    padding: 0.875rem 0 0.9375rem 1.5rem;
  }
}
.sidenav__boards__create div {
  margin-left: 1rem;
  color: var(--primary-color);
  font-weight: 700;
  font-size: 15px;
}
.sidenav__boards__create svg {
  width: 16px;
  height: 16px;
  fill: #635fc7;
}
.sidenav__switch {
  bottom: 5.5rem;
  left: 1.5rem;
  position: absolute;
  display: flex;
  padding: 0.875rem 3.5625rem;
  margin: 0 auto;
  justify-content: space-between;
  background-color: var(--sub);
  border-radius: 0.375rem;
  width: calc(100% - 3.0625rem);
  height: 3rem;
}
@media (max-width: 56.246875em) {
  .sidenav__switch {
    left: 0.8125rem;
    width: 14.6875rem;
  }
}
.sidenav__switch .toggle input[type=checkbox] {
  display: none;
}
.sidenav__switch .toggle input[type=checkbox]:checked ~ label::after {
  transform: translateX(20px);
}
.sidenav__switch .toggle label {
  background-color: var(--primary-color);
  border-radius: 12px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: all ease-in-out 0.3s;
  width: 40px;
  height: 20px;
}
.sidenav__switch .toggle label::after {
  content: " ";
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  left: 3px;
  top: 3px;
  transition: all ease-in-out 0.3s;
  width: 14px;
  height: 14px;
}
.sidenav__switch .light-icon svg,
.sidenav__switch .dark-icon svg {
  fill: #979797;
}
.sidenav__sidebar {
  cursor: pointer;
  position: absolute;
  bottom: 32px;
  color: var(--font-color-details);
  width: 17.25rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
}
.sidenav__sidebar span {
  margin-right: 0.625rem;
  fill: var(--font-color-details);
}
@media (max-width: 56.246875em) {
  .sidenav__sidebar {
    width: 15rem;
  }
}
.sidenav__sidebar:hover {
  background-color: var(--button);
  color: var(--primary-color);
}
.sidenav__sidebar:hover span {
  fill: var(--primary-color);
}

.add-new {
  z-index: 10;
  position: absolute;
  background-color: var(--bg-card);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.add-new.edit {
  width: 30rem;
  min-height: auto;
  max-height: 43.125rem;
  border-radius: 0.375rem;
}
@media (max-width: 39.996875em) {
  .add-new.edit {
    min-width: 71.4%;
    max-width: 21.4375rem;
    padding: 1.5rem;
  }
}
.add-new.task {
  border-radius: 0.375rem;
  width: 30rem;
  height: 43.4375rem;
}
@media (max-width: 39.996875em) {
  .add-new.task {
    min-width: 71.4%;
    max-width: 21.4375rem;
    min-height: auto;
    max-height: 42.875rem;
    padding: 1.5rem;
  }
}
.add-new.board {
  width: 30rem;
  min-height: auto;
  max-height: 42.875rem;
  border-radius: 0.375rem;
}
@media (max-width: 39.996875em) {
  .add-new.board {
    min-width: 71.4%;
    max-width: 21.4375rem;
    padding: 1.5rem;
  }
}
.add-new h1 {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: var(--font-color);
  margin-bottom: 0;
}
.add-new form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.add-new form > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.add-new form > div > label {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: var(--font-color-details);
}
.add-new form > div input,
.add-new form > div textarea {
  border: 1px solid rgba(130, 143, 163, 0.25);
  border-radius: 4px;
  padding-left: 1rem;
  font-weight: 500;
  font-size: 13px;
  line-height: 23px;
  background-color: var(--bg-card);
  color: var(--font-color);
  cursor: pointer;
}
.add-new form > div input:hover,
.add-new form > div textarea:hover {
  border-color: var(--primary-color);
}
.add-new form > div input::placeholder,
.add-new form > div textarea::placeholder {
  font-weight: 500;
  font-size: 13px;
  line-height: 23px;
  color: var(--font-color);
  mix-blend-mode: normal;
  opacity: 0.25;
}
.add-new form .f-tit {
  position: relative;
}
.add-new form .f-tit.error input {
  border-color: rgb(234, 85, 85);
}
.add-new form .f-tit input {
  height: 2.5rem;
}
.add-new form .f-tit p {
  position: absolute;
  font-weight: 500;
  font-size: 13px;
  line-height: 23px;
  color: rgb(234, 85, 85);
  right: 16px;
  bottom: 8px;
}
.add-new form .f-des textarea {
  width: 100%;
  resize: none;
  outline: none;
  height: 7rem;
}
.add-new form .f-sub .sub-styles {
  max-height: 19.25rem;
  overflow: auto;
}
.add-new form .f-sub .sub-styles.task {
  max-height: 8.4375rem;
}
.add-new form .f-sub .sub-styles > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  position: relative;
}
.add-new form .f-sub .sub-styles > div.error input {
  border-color: rgb(234, 85, 85);
}
.add-new form .f-sub .sub-styles > div input {
  flex: 1;
  height: 2.5rem;
  margin-bottom: 0.25rem;
}
.add-new form .f-sub .sub-styles > div svg {
  cursor: pointer;
  fill: var(--font-color-details);
}
.add-new form .f-sub .sub-styles > div svg:hover {
  fill: rgb(234, 85, 85);
}
.add-new form .f-sub .sub-styles > div p {
  position: absolute;
  font-weight: 500;
  font-size: 13px;
  line-height: 23px;
  color: rgb(234, 85, 85);
  right: 48px;
  bottom: 12px;
}
.add-new form .f-sub button {
  background-color: var(--button);
  border-radius: 1.25rem;
  border: none;
  padding: 0.5rem 0;
  font-weight: 700;
  font-size: 13px;
  line-height: 23px;
  text-align: center;
  color: var(--primary-color);
}
.add-new form .status h1 {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 0;
  color: var(--font-color-details);
}
.add-new form .f-stat {
  width: 100%;
  height: 2.5rem;
  border: 1px solid rgba(130, 143, 163, 0.25);
  position: relative;
  padding-top: 0.5rem;
  padding-left: 1rem;
  cursor: pointer;
  display: flex;
}
.add-new form .f-stat .stat-title {
  font-weight: 500;
  font-size: 13px;
  line-height: 23px;
  color: var(--font-color);
}
.add-new form .f-stat:hover {
  border-color: var(--primary-color);
}
.add-new form .f-stat span {
  position: absolute;
  right: 3.8%;
}
.add-new form .f-stat .stat-dropdown {
  width: 100%;
  position: absolute;
  height: auto;
  background-color: var(--dropdown);
  left: 0;
  top: 50px;
  box-shadow: 0px 10px 20px rgba(54, 78, 126, 0.25);
  border-radius: 8px;
  padding: 1rem;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-20px);
}
.add-new form .f-stat .stat-dropdown.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
.add-new form .f-stat .stat-dropdown ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-height: 7.5rem;
  overflow: auto;
}
.add-new form .f-stat .stat-dropdown ul li {
  list-style: none;
  font-weight: 500;
  font-size: 13px;
  line-height: 23px;
  color: #828fa3;
}
.add-new form .f-stat .stat-dropdown ul li:hover {
  color: black;
}
.add-new form button {
  padding: 0.5rem 0;
  border: none;
  font-weight: 700;
  font-size: 13px;
  line-height: 23px;
  text-align: center;
  background: var(--primary-color);
  border-radius: 20px;
  color: white;
}

.delete {
  z-index: 10;
  border-radius: 0.375rem;
  width: 30rem;
  min-height: 14.3125rem;
  position: absolute;
  background-color: var(--bg-card);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media (max-width: 39.996875em) {
  .delete {
    min-width: 71.4%;
    max-width: 21.4375rem;
    padding: 1.5rem;
  }
}
.delete h1 {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #ea5555;
  margin-bottom: 0;
}
.delete p {
  font-weight: 500;
  font-size: 13px;
  line-height: 23px;
  color: var(--font-color-details);
}
.delete p span {
  font-weight: bold;
}
.delete .delete-options {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 39.996875em) {
  .delete .delete-options {
    flex-direction: column;
  }
}
.delete .delete-options > button:first-child {
  background: #ea5555;
  border-radius: 20px;
  text-align: center;
  border: none;
  width: 100%;
  padding: 0.53125rem 0;
  font-weight: 700;
  font-size: 13px;
  line-height: 23px;
  color: white;
}
.delete .delete-options > button:first-child:hover {
  background: #ff9898;
}
.delete .delete-options > button:last-child {
  background: rgba(99, 95, 199, 0.1);
  border-radius: 20px;
  text-align: center;
  border: none;
  width: 100%;
  padding: 0.53125rem 0;
  font-weight: 700;
  font-size: 13px;
  line-height: 23px;
  color: var(--primary-color);
}
.delete .delete-options > button:last-child:hover {
  background: rgba(99, 95, 199, 0.25);
}

.main-content {
  display: flex;
  padding: 1.5rem;
  gap: 1.5rem;
  max-height: calc(100vh - 6.33rem);
  min-height: calc(100vh - 6.33rem);
}
.main-content > div {
  width: 17.5rem;
  height: auto;
  flex-shrink: 0;
}
.main-content .new-column {
  margin-top: 2.4375rem;
  width: 17.5rem;
  min-height: 50rem;
  cursor: pointer;
  background: var(--linargradient);
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-content .new-column:hover p {
  color: var(--primary-color);
}
.main-content .new-column p {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: var(--font-color-details);
}

.board-column {
  display: flex;
  flex-direction: column;
}
.board-column-name {
  display: flex;
  gap: 0.75rem;
}
.board-column-name-bullet {
  width: 0.9375rem;
  height: 0.9375rem;
  border-radius: 50%;
}
.board-column-name h3 {
  font-weight: 700;
  font-size: 0.75rem;
  letter-spacing: 2.4px;
  color: var(--font-color-details);
  margin-bottom: 0;
}

.tasks-description {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  min-height: 100px;
}
.tasks-description .task-card {
  cursor: pointer;
  width: 17.5rem;
  height: auto;
  background-color: var(--bg-card);
  box-shadow: 0px 4px 6px rgba(54, 78, 126, 0.101545);
  border-radius: 8px;
  padding: 1.4375rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.tasks-description .task-card h3 {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 15px;
  line-height: 19px;
  color: var(--font-color);
}
.tasks-description .task-card p {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: var(--font-color-details);
}

.detailed-info {
  position: absolute;
  background-color: var(--bg-card);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 30rem;
  height: auto;
  z-index: 10;
  border-radius: 0.375rem;
}
@media (max-width: 39.996875em) {
  .detailed-info {
    min-width: 71.4%;
    max-width: 21.4375rem;
    padding: 1.5rem;
  }
}
.detailed-info-title {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  color: var(--font-color);
}
.detailed-info-title h1 {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
}
.detailed-info-title-icon {
  position: relative;
  cursor: pointer;
}
.detailed-info-title-icon-selection {
  position: absolute;
  width: 12rem;
  height: 5.875rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  top: 2rem;
  right: -5.625rem;
  background: var(--bg-card);
  box-shadow: 0px 10px 20px rgba(54, 78, 126, 0.25);
  border-radius: 8px;
}
.detailed-info-title-icon-selection.hide {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-20px);
}
.detailed-info-title-icon-selection.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
.detailed-info-title-icon-selection > div {
  font-weight: 500;
  font-size: 13px;
  line-height: 23px;
  cursor: pointer;
}
.detailed-info-title-icon-selection > div:first-child {
  color: var(--font-color-details);
}
.detailed-info-title-icon-selection > div:last-child {
  color: #ea5555;
}
.detailed-info p {
  font-weight: 500;
  font-size: 13px;
  line-height: 23px;
  color: var(--font-color-details);
}
.detailed-info-subtasks h2 {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: var(--font-color-details);
}
.detailed-info-subtasks-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.detailed-info-subtasks-container-sub {
  display: flex;
  gap: 1rem;
  background: var(--sub);
  border-radius: 4px;
  padding: 0.8125rem 0 0.75rem 0.75rem;
  cursor: pointer;
}
.detailed-info-subtasks-container-sub:hover {
  background-color: rgba(99, 95, 199, 0.25);
}
.detailed-info-subtasks-container-sub input {
  appearance: none;
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  background: var(--bg-card);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(130, 143, 163, 0.248914);
  cursor: pointer;
}
.detailed-info-subtasks-container-sub input:checked {
  background: var(--primary-color);
}
.detailed-info-subtasks-container-sub input:checked + label {
  text-decoration: line-through;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.detailed-info-subtasks-container-sub input:checked::after {
  display: block;
}
.detailed-info-subtasks-container-sub input::after {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 0.71875rem;
  color: white;
  display: none;
}
.detailed-info-subtasks-container-sub label {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: var(--font-color);
  cursor: pointer;
}
.detailed-info-status h1 {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: var(--font-color-details);
}
.detailed-info-status .f-stat {
  width: 100%;
  height: 2.5rem;
  border: 1px solid rgba(130, 143, 163, 0.25);
  position: relative;
  padding-top: 0.5rem;
  padding-left: 1rem;
  cursor: pointer;
  display: flex;
}
.detailed-info-status .f-stat .stat-title {
  font-weight: 500;
  font-size: 13px;
  line-height: 23px;
  color: var(--font-color);
}
.detailed-info-status .f-stat:hover {
  border-color: var(--primary-color);
}
.detailed-info-status .f-stat span {
  position: absolute;
  right: 3.8%;
}
.detailed-info-status .f-stat .stat-dropdown {
  width: 100%;
  position: absolute;
  height: auto;
  background-color: var(--bg-card);
  left: 0;
  top: 50px;
  box-shadow: 0px 10px 20px rgba(54, 78, 126, 0.25);
  border-radius: 8px;
  padding: 1rem;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-20px);
}
.detailed-info-status .f-stat .stat-dropdown.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
.detailed-info-status .f-stat .stat-dropdown ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-height: 7.5rem;
  overflow: auto;
}
.detailed-info-status .f-stat .stat-dropdown ul li {
  list-style: none;
  font-weight: 500;
  font-size: 13px;
  line-height: 23px;
  color: var(--font-color-details);
}
.detailed-info-status .f-stat .stat-dropdown ul li:hover {
  color: black;
}

.scale-in {
  transform: scale(0.8);
  animation: scale-in 0.2s ease-out forwards;
  opacity: 0.7;
}

@keyframes scale-in {
  0% {
    transform: scale(0.8);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.transition {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: rgba(99, 95, 199, 0.1);
}

::-webkit-scrollbar-thumb {
  background: #635fc7;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a8a4ff;
}/*# sourceMappingURL=main.css.map */